/*глобальные стили*/
body {
  margin: 0;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
  position: relative;

}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list-style {
  list-style: none;
}

/*стилилизация шапки*/

.header-background-photo {
  width: 1200px;
  height: 773px;
  top: center;

  background-color: #000000;
  background-image: url("../img/svg-sedona/intro-mask.svg"), url("../img/svg-sedona/intro-welcome.svg"), url("../img/background-photo.jpg");
  background-size: 1200px 59px, 459px 353px, 1200px 773px;
  background-repeat: no-repeat;
  background-position: right 0px top 507px, right 370px top 132px, 100%;
}



.main-navigation {
  width: 1200px;
  height: 56px;
  background-color: #ffffff;

}

.site-navigation a:focus,
.site-navigation a:hover  {
  color: #81b3d2;
  outline: none;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-link {
  color: #766357;
}

/*стилилизация преимуществ*/
.description {
  position: absolute;
  top: 563px;
  width: 1200px;
  height: 216px;

  background-color: #ffffff;
}

.description h2 {
  margin-top: 61px;
  margin-left: 380px;
  width: 440px;
  height: 48px;


  font-size: 21px;
}

.description p {
  margin-bottom: 56px;
  margin-left: 355px;
  width: 489px;
  height: 13px;

  font-weight: 400;

}

.advantage-item-whith-photo {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage-item {
  background-color: #eeeeee;
  color: #000000;
}

.advantage h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage p {
  line-height: 21px;
  font-weight: 400;
}
.advantage-item p {
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantage-sublist {
  width: 1200px;
  height: 256px;
  padding: 0px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;

}

.advantage-sublist li{
  margin: 0px;
  width: 390px;
  height: 256px;
  display: inline-block;

}

.house {
  width: 75px;
  height: 72px;
  background-image: url("../img/svg-sedona/house.svg");
  background-size: 75px 72px;
}
.eat {
  width: 75px;
  height: 72px;
  background-image: url("../img/svg-sedona/eat.svg");
  background-size: 75px 72px;
}
.souvenirs {
  width: 75px;
  height: 72px;
  background-image: url("../img/svg-sedona/souvenirs.svg");
  background-size: 75px 72px;
}

/*стилилизация формы*/

.head-form {
  width: 568px;
  height: 86px;

  font-size: 21px;
  text-transform: inherit;
  color: #ffffff;
  background-color: #766357;
  border: none;

};

.head-form:focus, .head-form:hover  {
  color: white;
  background-color: #000000;
  outline: none;
}

.head-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-search {
  margin-left: 316px;
  padding-top: 55px;
  width: 568px;
  height: 395px;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-hotel h2 {
  font-size: 30px;
  line-height: 36px;
}

.search-hotel p {
  width: 423px;
  margin-left: 383px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
}

.form-search label {
  margin-left: 40px;

  font-family:inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.form-search input[type="date"] {
  width: 346px;
  height: 38px;
  margin: 10px;
  margin-right: 55px;
  padding-left: 13px;

  font-family:inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  text-align: left;

  background-color: #f2f2f2;
  border: none
}


.form-search input[type="date"]:hover  {
  background-color: #ebebeb;
}

.form-search input[type="date"]:focus {
  background-color: #ffffff;
  border: inside 2px solid #e5e5e5;
}

.form-search input[type="number"] {
  width: 38px;
  height: 38px;
  margin: 10px;
  margin-right: 55px;

  font-family:inherit;
  font-size: inherit;
  line-height: 2inherit6px;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  text-align: center;

  background-color: #f2f2f2;
  border: none
}

.form-search input[type="number"]:hover  {
  background-color: #ebebeb;
}

.form-search input[type="number"]:focus {
  background-color: #ffffff;
  border: inside 2px solid #e5e5e5;
}

.date-of-arrival {
  margin-top: 55px;


}


.buttom-plus {
  margin-left: -55px;
  width: 38px;
  height: 38px;

  font-size: 21px;
  font-weight: 700;
  color: #cacaca;

  background-color: #f2f2f2;
  border: none;
}

.buttom-minus {
  margin-right: -10px;
  width: 38px;
  height: 38px;

  font-size: 21px;
  font-weight: 700;
  color: #cacaca;

  background-color: #f2f2f2;
  border: none;
}

.buttom-plus:hover,
.buttom-minus:hover {
  color: #000000;
}

.buttom-plus:focus,
.buttom-minus:focus {
  color: #81b3d2;
  outline: none;
}

.button-form {
  width: 458px;
  height: 58px;
  margin-top: 55px;

  font-size: 21px;
  text-transform: inherit;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.button-form:focus,
.button-form:hover  {
  color: white;
  background-color: #669ec0;
  outline: none;
}

.button-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*стилилизация подвала*/
.footer {
  width: 1200px;
  height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  font-size: 21px;
}

.social-button {
  color: white;

  background-color: #81b3d2;
}

.social-button:focus,
.social-button:hover  {
  color: white;
  background-color: #669ec0;
  border: none;
  outline: none;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}


p.footer-copyright {
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}


.footer-copyright a:focus,
.footer-copyright a:hover  {
  color: #81b3d2;
  outline: none;
}

.footer-copyright a:active {
  color: #bdbbbc;
}


/* INNER PAGE*/

.header-inner {
  width: 1200px;
  height: 329px;
  object-fit: contain;
  top: center;

  background-color: #000000;
  background-image: url("../img/filter-background.jpg");
  background-size:  1200px 562px;
  background-repeat: no-repeat;
  background-position: 100%;
}

.form-filter-hotel fieldset {

border: none;
background-color: rgba(255, 255, 255, 1);


}

.check-list legend{
  font-size: 16px;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;

  color: #000000;

}

.check-list label {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;

  color: #000000;
}

.price-min-max input[type="text"] {
  width: 150px;
  height: 28px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: normal;
  color: #000000;
  text-align: center;

  border: none;

}

.price-min-max {
  width: 315px;
  height: 32px;
  padding: 2px;
  margin-left: 420px;

  border: 2px solid black;
  border-radius: 5px;
}

.button-filte {
  width: 133px;
  height: 32px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #000000;
  text-align: center;

  background-color: rgba(255, 255, 255, 1);
  border: 2px solid black;
  border-radius: 5px;

}

.hotel-list h3{
  font-size: 21px;
  letter-spacing: normal;

  color: #000000;

}

.hotel-list p {

  line-height: 21px;
  letter-spacing: normal;

  color: #333333;
  font-weight: 400;

}

.border {
  border-top: 1px solid #81b3d2;
}

.hotel-list article{
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #81b3d2;
}


.bottom-hotel-detail {
  width: 110px;
  height: 27px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 7px;

  line-height: 21px;
  letter-spacing: normal;
  color: #ffffff;

  background-color: #81b3d2;
}

.bottom-hotel-booking {
  width: 110px;
  height: 27px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 7px;

  line-height: 21px;
  letter-spacing: normal;
  color: #ffffff;

  background-color: #766357;
}


