/*глобальные стили*/

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list-style {
  list-style: none;
  padding-left: 0px;
}

.page {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;

  background-color: #ffffff;

  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
          box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
}

/*стилилизация шапки*/
.navigation {
  background-color: #ffffff;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;

  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-left: 72px;
  margin: 0;
}

.navigation__list li {
  padding-top: 18px;
  padding-bottom: 19px;
  width: 240px;

  text-align: left;
}

.navigation__list li:nth-child(2) {
  margin-right: 46px;
}

.navigation__list li:nth-child(3) {
  margin-left: 46px;

  text-align: right;
}

.navigation__list li:nth-child(4) {
  margin-left: 4px;

  text-align: right;
}

.navigation__list a:focus,
.navigation__list a:hover  {
  color: #81b3d2;
  outline: none;
}

.navigation__list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation__link--active {
  color: #766357;
}

/*стилилизация преимуществ*/
.background-photo {
  min-height: 505px;

  background-color: #2f9aa3;
  background-image: url("../img/svg-sedona/intro-mask.svg"), url("../img/svg-sedona/intro-welcome.svg"), url("../img/background-photo.jpg");
  background-size: contain, 459px 353px, cover;
  background-repeat: no-repeat;
  background-position: right 0px top 450px, right 50% top 50%, right 100% top -80px;
}

.description {
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 43px;
  padding-bottom: 41px;
}

.description h2 {
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
}

.description p {
  font-weight: 400;
}

.advantage {
  margin-top: -15px;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 28px;
  padding-bottom: 36px;
  width: 400px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #eeeeee;
}

.advantage__item-whith-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  background-color: #81b3d2;
  color: #ffffff;
}

.advantage h3 {
  width: 151px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-size: 21px;
}

.advantage p {
  margin-bottom: 20px;

  font-weight: 400;
}

.advantage__item p {
  width: 262px;
  margin-left: auto;
  margin-right: auto;

  color: #333333;
}

.advantage__item-whith-photo img {
  vertical-align: baseline;
}

.advantage__item-whith-photo div {
  width: 400px;
  padding-left: 48px;
  padding-top: 25px;
  padding-right: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantage__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  color: #000000;
  background-color: #ffffff;
}

.advantage__sublist li{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.advantage__sub-itom {
  width: 400px;
  min-height: 330px;
  padding-top: 140px;
  padding-left: 50px;
  padding-right: 50px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantage__sublist h3 {
  margin-bottom: 26px;
}

.advantage__sub-itom--house {
  background-image: url("../img/svg-sedona/house.svg");
  background-repeat: no-repeat;
  background-position: center 58px;
}

.advantage__sub-itom--eat {
  background-image: url("../img/svg-sedona/eat.svg");
  background-repeat: no-repeat;
  background-position: center 59px;
}

.advantage__sub-itom--souvenirs {
  background-image: url("../img/svg-sedona/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 54px;
}

/*стилилизация формы*/
.search {
  margin-top: 0px;
  padding-top: 17px;
}

.search-hotel {
  min-height: 556px;
}

.search h2 {
  font-size: 30px;
  line-height: 32px;
}

.search p {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
}

.search-hotel__head-form {
  width: 568px;

  padding-top: 30px;
  padding-bottom: 32px;

  font-family: inherit;
  font-size: 21px;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;

  text-align: inherit;
  color: #ffffff;
  vertical-align: middle;

  background-color: #766357;
  border: none;
}


@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}


@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    padding: 0 57px;
  }

  100% {
    opacity: 1;
    padding: 57px;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    padding: 0 57px;
  }

  100% {
    opacity: 1;
    padding: 57px;
  }
}

@-webkit-keyframes close {
  0% {
    opacity: 1;
    padding: 57px;
  }

  100% {
    opacity: 0;
    padding: 0 57px;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    padding: 57px;
  }

  100% {
    opacity: 0;
    padding: 0 57px;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  width: 568px;
  padding: 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  position: relative;
  z-index: 3;
}

.search-form--close {
  -webkit-animation: close 1s;
          animation: close 1s;
  opacity: 0;
}

.search-form--open {
  -webkit-animation: appearance 1s;
          animation: appearance 1s;
}

.search-form--error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-form__date,
.search-form__number-of-guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 458px;
  margin-bottom: 30px;

  font-size: 0px;
}

.search-form__date {
  position: relative;
}

.search-form label {
  width: 108px;

  font-family:inherit;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;

  cursor: pointer;
}

.search-form__number-of-guests label:nth-of-type(2) {
  margin-left: 50px;
  width: 69px;
}

.search-form__date  input[type="text"] {
  width: 346px;
  min-height: 38px;
  font-size: 14px;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-family:inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-align: left;

  background-color: #f2f2f2;
  border: none;
}

.search-form__number-of-guests input[type="number"] {
  width: 38px;
  height: 38px;
  padding: 0px;

  font-family:inherit;
  font-size: 14px;

  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  text-align: center;
  vertical-align: bottom;

  background-color: #f2f2f2;
  border: none;
}

.search-form__date  input[type="text"]::-webkit-input-placeholder,
.search-form__number-of-guests  input[type="number"]::-webkit-input-placeholder {
  color: #000000;
}

.search-form__date  input[type="text"]::-moz-placeholder,
.search-form__number-of-guests  input[type="number"]::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form__date  input[type="text"]:-ms-input-placeholder,
.search-form__number-of-guests  input[type="number"]:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form__number-of-guests input[type="number"]::-webkit-outer-spin-button,
.search-form__number-of-guests input[type="number"]::-webkit-inner-spin-button {
  position: absolute;
  -webkit-appearance: none;
          appearance: none;
}

.search-form__number-of-guests input[type="number"] {
  -moz-appearance: textfield;
}

.search-form__calendar {
  position: absolute;
  right: 6px;
  bottom: 6px;

  padding: 2px 5px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.search-form__calendar svg{
vertical-align: middle;
}

.search-form__calendar path {
  fill: #a9a9a9;
}

.search-form__calendar:hover path,
.search-form__calendar:focus path {
  fill: #000000;
}

.search-form__calendar:active path {
  fill: #81b3d2;
}

.search-form__calendar:active,
.search-form__calendar:focus {
  outline: none;
}

.search-form__button {
  width: 38px;
  height: 38px;

  font-size: 21px;
  font-weight: 700;
  color: #cacaca;

  background-color: #f2f2f2;
  border: none;
}

.search-form__button--plus {
  padding: 0px;

  vertical-align: bottom;
}

.search-form__button--minus {
  padding: 0px;

  vertical-align: baseline;
}

.search-form__button-form {
  width: 458px;
  height: 58px;
  margin-top: 24px;

  font-size: 21px;
  font-weight: bold;
  text-transform: inherit;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search-hotel__head-form:focus,
.search-hotel__head-form:hover  {
  color: white;
  background-color: #604e43;
  outline: none;
  cursor: pointer;
}

.search-hotel__head-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  padding-right: 0px;
  padding-left: 0px;
}

.search-form input[type="number"]:hover  {
  background-color: #ebebeb;
  cursor: pointer;
}

.search-form input[type="number"]:focus {
  background-color: #ffffff;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #e5e5e5;
}

.search-form input[type="text"]:hover  {
  background-color: #ebebeb;
  cursor: pointer;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search-form__button--plus:hover,
.search-form__button--minus:hover {
  color: #000000;
  cursor: pointer;
}

.search-form__button--plus:focus,
.search-form__button--minus:focus {
  color: #81b3d2;
  outline: none;
  padding-right: 0px;
  padding-left: 0px;
}

.search-form__button-form:focus,
.search-form__button-form:hover  {
  color: white;
  background-color: #669ec0;
  outline: none;
  cursor: pointer;
}

.search-form__button-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  padding-right: 0px;
  padding-left: 0px;
}

.map iframe {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;

  border: none;
}

.map img{
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 0;

  border: none;
}

/*стилилизация подвала*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 36px;
  padding-left: 132px;
  padding-right: 131px;

  position: relative;
  z-index: 3;

  min-height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer__contacts {
  margin-top: -15px;
  margin-left: -6px;

  font-size: 21px;
  text-align: left;
  line-height: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 400px;
  margin-left: -61px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 46px;
  height: 48px;
  margin-bottom: 3px;
  margin-left: 6px;

  background-color: #81b3d2;

  cursor: pointer;
}

.social__link:focus,
.social__link:hover {
  background-color: #669ec0;

  border: none;
  outline: none;
}

.social__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social__link:active path {
  opacity: 0.3;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 200px;
  margin-right: -31px;
}

.copyright p {
  margin-left: 2px;
  margin-top: 10px;

  line-height: 26px;
  color: #000000;
  font-weight: 400;
}

.copyright__link {
  margin-top: 6px;
}

.copyright__link:hover path {
  fill: #81b3d2;
}

.copyright__link:active path {
  fill: #bdbbbc;
}

/* INNER PAGE*/
/*форма*/
.filter-hotel {
  min-height: 197px;

  background-color: #2f9aa3;
  background-image: url("../img/filter-background.jpg");
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

.form-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;

  border: none;
}

.form-filter__checkbox li {
  margin-bottom: 21px;
}

.form-filter fieldset {
  margin-left: 62px;
  padding-top: 31px;
  min-height: 76px;

  border: none;
}

.form-filter__price {
  margin-left: 232px;
  margin-right: 63px;
  min-height: 180px;
}

.form-filter__checkbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-top: -10px;
  margin-bottom: 0px;
}

.form-filter legend {
  font-size: 16px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

 input[type="checkbox"]::-ms-check {
  display: none;
}

.form-filter__checkbox input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
 }

.form-filter__label::before {
  content: " ";
  display: inline-block;

  width: 29px;
  height: 25px;
  margin-right: 14px;

  vertical-align: middle;
  text-align: center;

  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
}

 .form-filter__input:checked ~ .form-filter__label::before {
  background-image: url("../img/svg-sedona/checkbox-on.svg");
  background-repeat: no-repeat;
}

.form-filter__input:focus ~ .form-filter__label::before {
  margin-bottom: -2px;
  border-bottom: 2px dotted #ffffff;
}

.form-filter__input:disabled ~ .form-filter__label::before {
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.form-filter__label {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.form-filter__price-min-max input {
  width: 50px;
  margin: 0px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.form-filter__price-min-max  input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}

.form-filter__price-min-max  input[type="text"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.form-filter__price-min-max  input[type="text"]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.form-filter__price-min-max  input[type="text"]:focus {
  outline: 1px solid #ffffff;
}

.form-filter__price-min-max {
  position: relative;

  height: 31px;
  margin-bottom: 20px;
  margin-top: -23px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.form-filter__price-min-max::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.form-filter__price-min-max label {
  display: inline-block;

  font-size: 14px;
  line-height: 29px;
  vertical-align: top;
  color: #ffffff;

  cursor: pointer;
}

.form-filter__min-price,
.form-filter__max-price {
  width: 90px;
}

.form-filter__min-price {
  padding-left: 55px;
  padding-right: 10px;
}

.form-filter__max-price {
  padding-left: 44px;
  padding-right: 18px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls__scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls__bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-controls__toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  background-color: #ababab;

  cursor: pointer;
}

.range-controls__toggle:hover {
  margin-top: -1px;
  margin-left: -1px;

  background-color: #ababab;

  outline: none;
  border: 9px solid #ffffff;
}

.range-controls__toggle--min {
  left: 0;
}

.range-controls__toggle--max {
  left: 80%;
}


.form-filter__button {
  padding: 9px 33px;
  margin-left: 50px;
  margin-top: -10px;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: #ffffff;

  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 4px;
}

.form-filter__button:focus,
.form-filter__button:hover {
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;

  outline: none;
  cursor: pointer;
}

/*сортировка*/
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-left: 65px;
  padding-bottom: 10px;
  padding-right: 70px;
  padding-top: 12px;
}

.sorting h3 {
  margin-right: 41px;
  width: 130px;

  font-size: 21px;
}

.sorting h4 {
  margin-right: 40px;
  font-weight: 400;

  font-size: 12px;
}

.sorting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 400px;
}

.sorting__ascending-descending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-right: 5px;
}

.sorting__button {
  margin-left: 10px;
}

.sorting__button path {
  fill: #cacaca;
}

.sorting__list--active path {
  fill: #81b3d2;
}

.sorting__button:hover path {
  fill: #000000;
}

.sorting__button:active path {
  fill: #81b3d2;
}

.sorting__item {
  margin-right: 32px;

  font-size: 12px;
  letter-spacing: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting__item:focus,
.sorting__item:hover,
.sorting__button:focus,
.sorting__button:hover {
  color: #81b3d2;
  outline: none;
  cursor: pointer;
}

.sorting__item:active,
.sorting__button:active {
  color: #000000;
  border: none;
}

.sorting__item--active,
.sorting__button--active path{
  color: #81b3d2;
  fill: #81b3d2;
  border: none;
}

/*список отелей*/
.hotel-list__name {
  margin: 0px;

  font-weight: bold;
  font-size: 21px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.hotel-list__name:focus,
.hotel-list__name:hover {
  color: #81b3d2;
  outline: none;
  cursor: pointer;
}

.hotel-list__name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-list p {
  line-height: 21px;
  letter-spacing: normal;
  color: #333333;
  font-weight: 400;
}

.hotel-list img {
  margin-right: 33px;
}

.hotel-list__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hotel-list__info p{
  margin-top: 8px;
  margin-bottom: 7px;
}

.hotel-list__type p:nth-child(2) {
  margin-right: 78px;
}

.hotel-list__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 260px;
}

.hotel-list article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding: 29px 70px;

  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-list article:first-of-type {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}

.hotel-list__rating {
  padding-left: 8px;
  padding-top: 62px;
}

.hotel-list__rating--average {
  background-image:  url("../img/svg-sedona/star.svg"), url("../img/svg-sedona/star.svg"), url("../img/svg-sedona/star.svg");
  background-repeat: no-repeat;
  background-position: 100% 0px, 75% 0px, 50% 0px;
}

.hotel-list__rating--good {
  background-image: url("../img/svg-sedona/star.svg"), url("../img/svg-sedona/star.svg"), url("../img/svg-sedona/star.svg"), url("../img/svg-sedona/star.svg");
  background-repeat: no-repeat;
  background-position: 100% 0px, 75% 0px, 50% 0px, 25% 0px;
}

.hotel-list__rating--bad {
  background-image: url("../img/svg-sedona/star.svg"), url("../img/svg-sedona/star.svg");
  background-repeat: no-repeat;
  background-position: 100% 0px, 75% 0px;
}

.hotel-list__rating p{
  margin: 0px;
  padding: 4px 16px;

  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-list__button {
  padding: 3px 17px;

  line-height: 21px;
  letter-spacing: normal;
  color: #ffffff;
}

.hotel-list__button--detail {
  margin-top: 8px;
  margin-right: 5px;

  background-color: #81b3d2;
}

.hotel-list__button--booking {
  margin-top: 8px;
  margin-right: 3px;

  background-color: #766357;
}

.hotel-list__button--detail:focus,
.hotel-list__button--detail:hover {
  background-color: #669ec0;
  outline: none;
  cursor: pointer;
}

.hotel-list__button--detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-list__button--booking:focus,
.hotel-list__button--booking:hover {
  background-color: #604e43;
  outline: none;
  cursor: pointer;
}

.hotel-list__button--booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
